<!-- <app-navbar></app-navbar> -->
<div class="container">
  <hr>
  <div class="row">
    <div class="col mt-5 mb-5">
      <div class="col-md-8 mx-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>
